body{
    text-align: center;
}

#Header{
    font-family: 'Courier New', Courier, monospace;
}
label{
    font-size: 20px;
}
input{
    border: 2px solid grey;
    border-radius: 10px;
    padding: 5px;
    margin-top: 5px;
}
button{
    border: 3px solid grey;
    border-radius: 10px;
}

